<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <title>먹사모하위</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id ="search-tap-wrapper">
        <form action="{% url 'search_map' %}" method="post" id ="search-tap">
            {% csrf_token %}
            <label for="search-place"></label>
            <input type="text" name="search-place" required>
            <input type="submit" required>
        </form>
    </div>

    <div><a href="{% url 'bung_list' %}">asdasd</a></div>
<script type="text/javascript" src="/static/js/index.js"></script>
</body>

</html>

